.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    grid-gap: 10px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicBox {
    flex: 1;
    width: 25rem;
    min-height: 5rem;
    margin: 1rem;
    background-image: var(--orange-gradient);
    border-radius: 0.6rem;
}

.topicText {
    text-align: center;
    font-size: 40px;
    margin-top: 1rem;
    color: var(--primary-grey);
}
