.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    grid-gap: 10px;
}
.eventWidget{
    font-size: 20px;
    background-color: var(--background-withe);
    filter: var(--drop-shadow);
    display: flex;
    margin: 1rem 5rem;
    width: 27.5rem;
    height: 10rem;
    border-radius: 2.5rem;
}
.eventInformation{
    flex: 1;
    max-width: 20rem;
    margin: 2rem;
    color: var(--secondary-grey);
}
.nameBar{
    margin-bottom: 0.5rem;
    width: 20rem;
    height: 2rem;
    background-image: var(--blue-gradient);
    border-radius: 0.6rem;
}
.eventName{
    margin-left: 1rem;
    padding-top: 0.2rem;
    color: var(--primary-grey);
}
.line{
    border-bottom: 0.15rem solid var(--tertiary-grey);
    margin-bottom: 1rem;
    width: 20rem;
}
.keyData{
    float: left;
}
.valueData{
    text-align: end;
}
.closeIcon{
    margin: 1rem 0;
    filter: var(--drop-shadow);
}
