:root {
    --background-grey: #F5F4F9;
    --background-withe: #FFFFFF;
    --primary-grey: #3D424A;
    --secondary-grey: #83868D;
    --tertiary-grey: #D8D8D8;

    --orange-gradient: linear-gradient(to bottom right, #FBCE5C, #FFC883);
    --blue-gradient: linear-gradient(to bottom right, #94E1FF, #57BEE6);
    --green-gradient: linear-gradient(to bottom right, #B8EB78, #00B733);
    --purple-gradient: linear-gradient(to bottom right, #D083FF, #CF49FE);

    --drop-shadow: drop-shadow(1px 3px 3px rgb(0 0 0 / 0.4));
    --text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
}
