
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background-withe);
}

.content {
    flex: 1;
    display: flex;
}

.main {
    flex: 1;
    background-color: var(--background-grey);
    border-radius: 3rem 0 0 0;
}

/*------------------NAV-BAR------------------*/
.header {
    height: 6rem;
    background-color: var(--background-withe);
}

.logo {
    height: 80px;
    width: 80px;
    float: left;
    margin-left: 0.7rem;
    padding-top: 0.5rem;

    filter: var(--drop-shadow)
}

.welcomeText {
    color: var(--primary-grey);
    text-shadow: var(--text-shadow);
    text-align: end;
    margin-right: 1rem;
    padding-top: 1rem;
}

/*------------------SIDE-BAR------------------*/
.sidebar {
    width: 6rem;
    background-color: var(--background-withe);
    text-align: center;
    margin: 1rem 0;
}

.profile {
    filter: var(--drop-shadow);
    margin: 1rem 0;
}

.notification {
    filter: var(--drop-shadow);
}

.wg {
    filter: var(--drop-shadow);
    margin: 5rem 0;
}

.settings {
    filter: var(--drop-shadow);
    margin-top: 31rem;
}

/*------------------MAIN-FIELD------------------*/
